* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f5f9;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fundo escuro */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

/* Caixa do modal */
.modal {
    position: relative;
    width: 90%;
    max-width: 600px;
}

/* Botão fechar */
.fechar {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 35px;
    height: 35px;

    border: none;
    border-radius: 35%;
    color: rgb(255, 0, 0);
    font-size: 18px;
    cursor: pointer;
}

.fechar:hover {
    background: #dc2626;
    color: rgb(255, 255, 255);
}

.form-tarefa {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .2);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-tarefa h2 {
    text-align: center;
    color: #2563eb;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.campo label {
    font-weight: bold;
}

.campo input,
.campo textarea,
.campo select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.campo textarea {
    resize: vertical;
    min-height: 120px;
}

.campo input:focus,
.campo textarea:focus,
.campo select:focus {
    border-color: #2563eb;
    box-shadow: 0 0 8px rgba(37, 99, 235, .2);
}

.form-tarefa button[type="submit"] {
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-tarefa button[type="submit"]:hover {
    background: #1d4ed8;
}